name: "Master"

on:
  workflow_dispatch:
  push:
    branches: ["master"]

jobs:
  master:
    name: "Master"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Debug CTX: github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug"
        run: |
          echo ${{ github.workflow_ref }}

      - name: "Test Local Action"
        id: test
        uses: smashedr/test-action@master
        #with:
        #  token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Echo Outputs"
        run: |
          echo results: '${{ steps.test.outputs.results }}'
